.App {
  text-align: center;
}

.mainScore{
  background-color: aqua;
}

.categories{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:bisque;
  

}

#mental{
  background-color: burlywood;
  
}

#creative{
  background-color: red;
}

#physical{
  background-color: darkgrey;
}

#fun{
  background-color: blue;
}