.App {
  padding: 18px;
  /* text-align: center; */
  /* width: 80vw; */
  background-color:lavender;
  font-family: 'Roboto', sans-serif;

}

.mainDisplay{
  
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 80vw;
}

.scoreboard{
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.mainScore{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#mainScoreHeader{
  color: whitesmoke;
}

.categories{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 10px;
  margin: 10px;
  
}

#creative{
  padding: 10px;
  margin: 10px;
}
#mental{
  padding: 10px;
  margin: 10px;
}
#physical{
  padding: 10px;
  margin: 10px;
}
#fun{
  padding: 10px;
  margin: 10px;
}