.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 18px;
  text-align: center;
  /* width: 40vw; */
  height: 40vw;
  background-color:lavender;
}


.mainScore{
  display: flex;
  justify-content: center;
}

.categories{
  display: flex;
  justify-content: center;
  align-items: center;
}



 /* #mental{
  background-color: burlywood;
   
}
/* 
#creative{
  background-color: red;
}

#physical{
  background-color: darkgrey;
}

#fun{
  background-color: blue;
} */ 
